.navbar-header {
    background: #7386D5;
    width: 100%;
    height: 10%;
    
}


.navbar-header-left {
    width: 20%;
    float: left;
    height: 100%;
}

.navbar-header-right {
    width: 80%;
    float: right;
    height: 100%;
}