
<nav class="navbar navbar-expand-sm ">
    
    <div class="navbar-header-left">      
         
    </div>

    <div class="navbar-header-right">
            <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                                <!-- <button class="btn btn-light" type="button" (click)="toggleSidebar()">
                                        <fa-icon [icon]="faAlignLeft"></fa-icon> 
                                </button> -->
                        </li>

                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <button class="btn btn-light" type="button">
                            <fa-icon [icon]="faUser"></fa-icon>
                        </button>
                    </form>
                </div>
    </div>    
</nav>