<div class="content">
   <table class="table table-bordered">
     <thead>
       <tr>
         <th>STT</th>
         <th>Name</th>
         <th>Birthday</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td scope="row">1</td>
         <td>Tony</td>
         <td>1994</td>
       </tr>
       <tr>
        <td scope="row">1</td>
         <td>Tony</td>
         <td>1994</td>
       </tr>
       <tr>
        <td scope="row">1</td>
         <td>Tony</td>
         <td>1994</td>
       </tr>
       <tr>
        <td scope="row">1</td>
         <td>Tony</td>
         <td>1994</td>
       </tr>
       <tr>
        <td scope="row">1</td>
         <td>Tony</td>
         <td>1994</td>
       </tr>
       <tr>
        <td scope="row">1</td>
         <td>Tony</td>
         <td>1994</td>
       </tr>
       
     </tbody>
   </table>

</div>