<!-- <nav class="sidebar">

  <div class="list-group">
      <a class="nav-link active" href="#">
          <i class="fa fa-fw fa-dashboard"></i>&nbsp;Active link
      </a>

      <a class="nav-link" href="#">
        Link
      </a>

      <a class="nav-link disabled" href="#">
        Disabled link
      </a>

      <div class="nested-menu">
          <a href="#" class="list-group-item ">Active item</a>
          <span><i class="fa fa-plus"></i>&nbsp; 
          <li>
              <ul class="submenu">                
                  <a href="#" class="list-group-item ">Item</a>
                  <a href="#" class="list-group-item ">Disabled item</a>
              </ul>
          </li>
      </div>

  </div>


</nav> -->