/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/scss/font-awesome.scss';

html, body {
    padding: 0;
    margin: 0;
    font-family:  'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}